body { 
  background: url(../img/Lagos8.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.quiz-section{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

label{
  margin-left: 20px;
}
